* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(197 161 120 / 85%);
}

.wrapper {
    max-width: 65%;
    margin-left: 17.5%;
    margin-top: 2em;
    background-color: rgb(225 212 197 / 48%);
    border-radius: 1em;
}

.title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 60px;
    color: rgb(31, 10, 10);
}

.input-window {
    width: 100%;
    height: 1.5em;
    font-size: 20px;
    margin-bottom: 2em;
    border-radius: 5px;
    border-color: rgba(31, 17, 17, 0.616);
    border: none;
    box-shadow: 2px 3px 15px 5px rgba(31, 17, 17, 0.459);
}

.input-window::placeholder {
    padding-left: 0.5em;
    color: rgba(31, 17, 17, 0.723);
    font-style: italic;
}

.wrapper-content {
    width: 70%;
    margin-left: 15%;
}

ul {
    list-style-type: none;
}

.element-of-list {
    border: 1px solid rgba(31, 17, 17, 0.58);
    max-width: 100%;
    margin-bottom: 1.5em;
    border-radius: 5px;
    background-color: rgb(233 226 220);
}

.element-content {
    text-align: start;
}

.checked-doings {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 0.5em;
    background-size: 50% 50%;
}

label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(31, 17, 17, 0.58);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.delete-doing {
    height: 25px;
    width: 25px;
    border: 0; 
    outline: none; 
    background-color: transparent;
    padding-top: 4px;
    padding-left: 75%;
}

button img {
    max-width: 25px;
}

.filter {
    max-width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1em;
}

.filter button {
    width: 60px;
    height: 40px;
    color: rgba(31, 17, 17, 0.88);
    border-radius: 50%;
    border: none;
    font-weight: 600;
}

.pagination {
    max-width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.pagination a {
    text-decoration: none;
    color: rgba(31, 17, 17, 0.723);
    border: 1px solid rgba(31, 17, 17, 0.856);
    font-size: 25px;
    padding: 0 5px;
}